*{
  margin: 0;
  padding: 0,
 
}
body{
  background-image: url(../src/assets/bg.jpg);
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}